# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
env/
venv/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Data folders (ignore contents, keep structure)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
 